USE [yarisma]
GO
/****** Object:  Table [dbo].[sorucevap]    Script Date: 1.03.2023 11:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorucevap](
	[soruid] [nvarchar](50) NOT NULL,
	[soru] [nvarchar](500) NOT NULL,
	[a] [nvarchar](50) NOT NULL,
	[b] [nvarchar](50) NOT NULL,
	[c] [nvarchar](50) NOT NULL,
	[d] [nvarchar](50) NOT NULL,
	[dogrucevap] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorucevap2]    Script Date: 1.03.2023 11:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorucevap2](
	[soruid] [nvarchar](50) NOT NULL,
	[soru] [nvarchar](500) NOT NULL,
	[a] [nvarchar](50) NOT NULL,
	[b] [nvarchar](50) NOT NULL,
	[c] [nvarchar](50) NOT NULL,
	[d] [nvarchar](50) NOT NULL,
	[dogrucevap] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorucevap3]    Script Date: 1.03.2023 11:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorucevap3](
	[soruid] [nvarchar](50) NOT NULL,
	[soru] [nvarchar](500) NOT NULL,
	[a] [nvarchar](50) NOT NULL,
	[b] [nvarchar](50) NOT NULL,
	[c] [nvarchar](50) NOT NULL,
	[d] [nvarchar](50) NOT NULL,
	[dogrucevap] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorucevap4]    Script Date: 1.03.2023 11:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorucevap4](
	[soruid] [nvarchar](50) NOT NULL,
	[soru] [nvarchar](500) NOT NULL,
	[a] [nvarchar](50) NOT NULL,
	[b] [nvarchar](50) NOT NULL,
	[c] [nvarchar](50) NOT NULL,
	[d] [nvarchar](50) NOT NULL,
	[dogrucevap] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorucevap5]    Script Date: 1.03.2023 11:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorucevap5](
	[soruid] [nvarchar](50) NOT NULL,
	[soru] [nvarchar](500) NOT NULL,
	[a] [nvarchar](50) NOT NULL,
	[b] [nvarchar](50) NOT NULL,
	[c] [nvarchar](50) NOT NULL,
	[d] [nvarchar](50) NOT NULL,
	[dogrucevap] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
